{% extends 'base.html.twig' %}


{% block title %} Petites Annonces {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <a class="btn btn-block btn-lg bg-purple waves-effect" style="margin-bottom: 3vh"
               href="{{ path('new_annonce') }}">Nouvelle annonce</a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <form>
                <div class="input-group">
                    <input type="search"
                           name="query"
                           class="form-control"
                           placeholder="Rechercher..."
                    >
                </div>
            </form>
        </div>
    </div>


    <!-- page des annonces -->

    <div class="card">
        <div class="body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                <li role="presentation" class="active"><a href="#tout" data-toggle="tab">Tout</a>
                </li>
                <li role="presentation"><a href="#objet-touve" data-toggle="tab">Objet Trouvé</a>
                </li>
                <li role="presentation"><a href="#objet-perdu" data-toggle="tab">Objet Perdu</a></li>
                <li role="presentation"><a href="#vente" data-toggle="tab">Vente</a></li>
                <li role="presentation"><a href="#recherche" data-toggle="tab">Recherche</a></li>
                <li role="presentation"><a href="#tips" data-toggle="tab">Tips</a></li>
            </ul>

            <!-- Tab panes -->

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="tout">

                    {% for annonce in AdAll %}
                        {% include 'annonces/_annonce.html.twig' %}
                    {% endfor %}

                </div>
                <div role="tabpanel" class="tab-pane fade in active" id="objet-touve">

                    {% for annonce in Ad1 %}
                        {% include 'annonces/_annonce.html.twig' %}
                    {% endfor %}

                </div>
                <div role="tabpanel" class="tab-pane fade" id="objet-perdu">

                    {% for annonce in Ad2 %}
                        {% include 'annonces/_annonce.html.twig' %}
                    {% endfor %}

                </div>
                <div role="tabpanel" class="tab-pane fade" id="vente">

                    {% for annonce in Ad3 %}
                        {% include 'annonces/_annonce.html.twig' %}
                    {% endfor %}

                </div>
                <div role="tabpanel" class="tab-pane fade" id="recherche">

                    {% for annonce in Ad4 %}
                        {% include 'annonces/_annonce.html.twig' %}
                    {% endfor %}

                </div>
                <div role="tabpanel" class="tab-pane fade" id="tips">

                    {% for annonce in Ad5 %}
                        {% include 'annonces/_annonce.html.twig' %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>



{% endblock %}
