{% extends 'base.html.twig' %}

{% block content_login %}

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card ">
                    <div class="header">
                        <h1>logo du GInfo</h1>
                    </div>
                    <div class="body">
                        <form action="{{ path('security_login') }}" method="post">
                            <input placeholder="Nom d'utilisateur" required type="text" class="form-group form-line form-control" name="_username">
                            <input placeholder="Mot de passe" required type="password" class="form-group form-line form-control" name="_password">
                            <div class="form-group form-line">
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-block bg-purple btn-lg waves-effect"> Connexion </button>
                                </div>
                                <div class="col-sm-6">
                                    <a class="btn btn-block btn-default btn-lg waves-effect" href="{{ path('security_registration') }}" class="nav-link">s'inscrire</a>
                                </div>
                            </div>
                            <div class="row"></div>
                        </form>
                    </div>
                    <a class="btn btn-block btn-lg bg-pink waves-effect" href="{{ path('user_login') }}">Se connecter via My</a>
                </div>
            </div>
        </div>

{% endblock %}